In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [ ]:
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
data.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
columns = list(data.columns)

In [ ]:
columns

['date',
 'Appliances',
 'lights',
 'T1',
 'RH_1',
 'T2',
 'RH_2',
 'T3',
 'RH_3',
 'T4',
 'RH_4',
 'T5',
 'RH_5',
 'T6',
 'RH_6',
 'T7',
 'RH_7',
 'T8',
 'RH_8',
 'T9',
 'RH_9',
 'T_out',
 'Press_mm_hg',
 'RH_out',
 'Windspeed',
 'Visibility',
 'Tdewpoint',
 'rv1',
 'rv2']

In [ ]:
data.skew()

Appliances     3.386367
lights         2.195155
T1             0.120917
RH_1           0.465774
T2             0.889658
RH_2          -0.268247
T3             0.450777
RH_3           0.467589
T4             0.170384
RH_4           0.444614
T5             0.558220
RH_5           1.866820
T6             0.597471
RH_6          -0.241961
T7             0.254722
RH_7           0.242141
T8            -0.256151
RH_8           0.308036
T9             0.382711
RH_9           0.368937
T_out          0.534273
Press_mm_hg   -0.420442
RH_out        -0.922997
Windspeed      0.859982
Visibility     0.441554
Tdewpoint      0.239374
rv1            0.004945
rv2            0.004945
dtype: float64

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
simp = data[['T2', 'T6']].sample(15, random_state = 2)

In [ ]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()

In [ ]:
x = simp['T2']

In [ ]:
y = simp['T6']

In [ ]:
lin.fit(simp.drop('T6', axis = 1),y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
def rsquared(x, y):
    """ Return R^2 where x and y are array-like."""

    slope, intercept, r_value, p_value, std_err = scipy.stats.linregress(x, y)
    return r_value**2

In [ ]:
import scipy
rsquared(x,y)

0.7353612385698864

In [ ]:
from sklearn.metrics import r2_score
r2_score(x,y)

-46.23847417630443

In [ ]:
lin.score(simp.drop('T6', axis = 1),y)

0.7353612385698862

In [ ]:
from sklearn.metrics import mean_absolute_error as mae
mae(simp.drop('T6', axis = 1),y)

13.063727513227521

In [ ]:
from sklearn.metrics import mean_squared_error
ans = mean_squared_error(w, weightss['lin_weight'])
import math
math.sqrt(ans)

0.004733618530485794

In [ ]:
import math


MSE = np.square(np.subtract(x,y)).mean() 

RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

13.764870009494679

In [ ]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [ ]:
weights = get_weights_df(lin, simp.drop('T6', axis = 1), 'lin_weight')
weights

  Features  lin_weight
0       T2    2.539275

In [ ]:
lind = LinearRegression()

In [ ]:
lind.fit(data.drop(['T6', 'date'], axis = 1), data['T6'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
weightss = get_weights_df(lasso_reg, data.drop(['T6', 'date'], axis = 1), 'lin_weight')
weightss

       Features  lin_weight
0            T1   -0.738929
1            T5   -0.222662
2     Tdewpoint   -0.132566
3            T7   -0.129433
4            T8   -0.121985
5          RH_3   -0.119878
6            T4   -0.085403
7          RH_8   -0.049131
8          RH_1   -0.036088
9          RH_6   -0.033259
10  Press_mm_hg   -0.016765
11    Windspeed   -0.006773
12         RH_5   -0.002514
13          rv1   -0.000232
14   Visibility   -0.000196
15          rv2   -0.000000
16   Appliances    0.000890
17       lights    0.004070
18         RH_7    0.010590
19         RH_9    0.018686
20         RH_4    0.049331
21           T3    0.059864
22       RH_out    0.062917
23         RH_2    0.103806
24           T9    0.283521
25           T2    0.811259
26        T_out    1.100716

In [ ]:
weightss = get_weights_df(lasso_reg, data.drop(['T6', 'date'], axis = 1), 'lin_weight')
weightss

       Features  lin_weight
0            T1   -0.738929
1            T5   -0.222662
2     Tdewpoint   -0.132566
3            T7   -0.129433
4            T8   -0.121985
5          RH_3   -0.119878
6            T4   -0.085403
7          RH_8   -0.049131
8          RH_1   -0.036088
9          RH_6   -0.033259
10  Press_mm_hg   -0.016765
11    Windspeed   -0.006773
12         RH_5   -0.002514
13          rv1   -0.000232
14   Visibility   -0.000196
15          rv2   -0.000000
16   Appliances    0.000890
17       lights    0.004070
18         RH_7    0.010590
19         RH_9    0.018686
20         RH_4    0.049331
21           T3    0.059864
22       RH_out    0.062917
23         RH_2    0.103806
24           T9    0.283521
25           T2    0.811259
26        T_out    1.100716

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit( data.drop(['T6', 'date'], axis = 1),data['T6'])

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
w = weight['lin_weight']
w

0    -0.748368
1    -0.227558
2    -0.144441
3    -0.134070
4    -0.121172
5    -0.121043
6    -0.087137
7    -0.049706
8    -0.039851
9    -0.033235
10   -0.016631
11   -0.006528
12   -0.002389
13   -0.000203
14   -0.000119
15   -0.000119
16    0.000894
17    0.004244
18    0.011630
19    0.018400
20    0.049505
21    0.063141
22    0.064858
23    0.109145
24    0.291167
25    0.822012
26    1.110281
Name: lin_weight, dtype: float64